//// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

@import '~vue-slider-component/theme/default.css';

html, body {
  height: 100%;
}

body {
  overflow-y: scroll;
  overscroll-behavior-y: none;
}

@media screen and (max-width: 575.98px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 576px) {
  html {
    font-size: 12px;
  }
}

@import "misc";
