# Application settings
app:
  name: 'ibubble'
  debug: true

# Server settings
server:
  ssl: false

# Log settings
log:
  # output files
  access: deploy/log/access.log
  app: deploy/log/app.log
  error: deploy/log/error.log
  db: deploy/log/sql.log

# Database
db:
  adapter: mysql2
  host: localhost:3306
  user: root
  password: password
  database: ibubble

# Session Settings
session:
  name: sid

storage:
  music: './storage/music'
  temp: './storage/temp'
