@import "util";
@import "grid_util";

html {
  overscroll-behavior-y: none;
  overflow-y: auto;

  // for webkit
  ::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #80808060;
    border-radius: 8px;
    &:hover {
      background-color: #80808080;
    }
    &:active {
      background-color: #808080a0;
    }
  }

  // for mozilla
  scrollbar-color: #80808060 transparent;
  scrollbar-width: thin;
}

// @supports(overflow: overlay) {
//   html {
//     overflow: overlay;
//     &::-webkit-scrollbar {
//       width: 6px;
//       background-color: transparent;
//     }

//     &::-webkit-scrollbar-track {
//       background-color: transparent;
//     }

//     &::-webkit-scrollbar-thumb {
//       background: #80808060;
//       border-radius: 8px;
//     }
//   }
// }

html[data-theme=dark] {
  background-color: #181818;
}

// hide prev and next margin of tabs on mobile
.v-tabs:not(.v-tabs--vertical):not(.v-tabs--right) > .v-slide-group--is-overflowing.v-tabs-bar--is-mobile:not(.v-slide-group--has-affixes) {
  .v-slide-group__prev, .v-slide-group__next {
    display: none;
  }
}
